<style>  
  ul.label-list {
    list-style: none;
  }

  ul.label-list li {
    display: inline;
    margin-left: 7px;
  }

  .kill_overflow-x {
    overflow-x: visible !important;
  }
  
  #manage-labels { border: 1px solid; }
  #manage-labels table         { margin-bottom: 1.4em; width:100%; }
  #manage-labels th            { font-weight: bold; }
  #manage-labels thead th      { /*background: #c3d9ff;*/ }
  #manage-labels th,td,caption { padding: 8px 10px 4px 5px;text-align:center; }
  #manage-labels tr.even td    { background: #e5ecf9; }
  #manage-labels tr { height: 25px; }

  .label { 
    padding: 5px;
  }
</style>

<script type="text/javascript">
  function makeDroppable(elementId) {
    Droppables.add(elementId, {
      onDrop: function(issue, label, event) {
        var labelId = label.readAttribute('id').split('-')[1];

        var url = "/labels/" + labelId + "/add_issue";
        new Ajax.Request(url, { 
          method: 'post', 
          parameters: {
            'issue_id': issue.readAttribute('id') 
          }  
        });
      }
    });
  }

  function updateLabel(labelId) {
    var lTitle = $('title-' + labelId).value;
    var fnColor = $('fncolor-' + labelId).value;
    var bgColor = $('bgcolor-' + labelId).value;

    new Ajax.Request("/labels/" + labelId, {
      method: 'put',
      parameters: { 
        'label[title]' : lTitle,
        'label[fncolor]' : fnColor,
        'label[bgcolor]' : bgColor
      }
    });
  }

  function createLabel() {
    var lTitle = $('new-title').value;
    var fnColor = $('new-fncolor').value;
    var bgColor = $('new-bgcolor').value;

    new Ajax.Request("/labels/", {
      method: 'post',
      parameters: { 
        'label[title]' : lTitle,
        'label[fncolor]' : fnColor,
        'label[bgcolor]' : bgColor
      }
    });
  }
</script>

<% @labels = Label.global + Label.by_user(User.current) %>

<div id="labels">
  <ul class="label-list" id="label-list">
    <% for l in @labels %>
      <%= render :partial => 'labels/label_list_item', :locals => { :l => l } %>
    <% end %>

    <li><%= link_to_function '+', '$("manage-labels").toggle()' %></li>
  </ul>

  <div id="manage-labels" style="display: none;">
    <table>
      <thead>
        <tr>
          <th></th>
          <th>Title</th>
          <th>Font</th>
          <th>Background</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody id="labels-tbody">
        <%= render :partial => 'labels/new_label' %>
        <%= render :partial => @labels %>
      </tbody>
    </table>
  </div>
</div>

<script type="text/javascript">
  document.observe("dom:loaded", function() {
    $$('.autoscroll')[0].addClassName('kill_overflow-x');

    $$('td.add-filter')[0].insert({ bottom: $("labels") });
    
    <% for i in issues %>
      var link = $$("#issue-<%= i.id %> td a")[0];
      
      link.setAttribute("id", <%= i.id %>);
      link.setAttribute("href", "#");

      new Draggable(link, { revert : true });
    <% end %>
  });
</script>

<%= render :file => RAILS_ROOT + "/app/views/issues/_list.rhtml",
      :locals => { :query => query, :issues => issues } %>
