<li id="label-<%= l.id %>" class="label" style="background:<%= l.bgcolor %>; color: <%= l.fncolor %>">
  <%= link_to_function h(l.title), "addLabelToFilter(this.innerHTML, #{l.id})", :style => "color: #{l.fncolor}" %>
    (<span id="label-<%= l.id %>-issues-count"><%= l.issues_count %></span>)
</li>
<script type="text/javascript">makeDroppable("label-<%= l.id %>");</script>
